<!DOCTYPE html>
<html>
	<head>
		<title>CS 493 Assignment 6 Greetings</title>
        <style>
        body {background-color: powderblue;}
        h1   {color: blue;}
        p    {color: red;}
        </style>
	</head>
	<body>
		<h1>Hello Friend!</h1>
        <br>
        <br>
		<p>
            First Name:
        </p>
        <div>
            {{firstName}}
        </div>
        <br>
        <p>
            Last Name:
        </p>
        <div>
            {{lastName}}
        </div>
        <br>
        <p>
            State Value:
        </p>
        <div>
            {{curState}}
        </div>
</html>