<!DOCTYPE html>
<html>
	<head>
		<title>CS 493 Assignment 6</title>
	</head>
	<body>
		<h2>Click the link below to authorize app access, and I will tell you your name</h2>
        <br>
        <br>
		<div>
            <a href="/createState">Authorize access to your metadata</a>
        </div>
	</body>
</html>
